@charset "UTF-8";

/* pb_main_homework.css */

/*  common.css */
#wrap{  margin: auto;  width: 100%;min-height: 10rem; background-color: #fa7; height: auto;}
#headBox{width: 100%; height: 150px; background-color: #f7b9a4; padding:13px 13px; box-sizing: border-box;}
#container{position: relative;  box-sizing: border-box; margin: auto; width: 100%;
  height: 40px; background-color: rgba(0,37,252,0.2); }
#container>h1{ position: absolute;  left:50%; margin-left:-124px/*-124/480*100*/; width:100%;height: auto; 
  background-color:#edb2be; font-size: 12pt ;text-align: center;line-height: 2.5;}
.menu{float:left;}
#serBox{float:right;}
 
.gnb{float:left;  background-color:#edb2be;width: 40px;height:40px;font-size: 12pt}
#serBox{float:right;  background-color: #edb2be;width: 40px;height: 40px;font-size:12pt;}


#sectBox01{width: 100%; height: 600px ; box-sizing: border-box;background-color: #ffedca;}
  .seBox01{background-color: rgba(0,37,252,0.2); }
#sectBox02{width: 100%; height: 350px ; box-sizing: border-box;background-color: #f7b9a4;}
  .hoBox02{background-color: rgba(0,37,252,0.2);} 
  .hoBox02>div{padding-top:13px; box-sizing: border-box; width: 100%; height:100%; text-align: center; border:1px solid #fff;}
  .hoBox02>div>.ho_ti{margin-bottom :29px; width: 100%;height: 27px;background-color: #d8d89a;}
  .hoBox02>div>.ho_bg{width: 100%;height: 235px;background-color: #d8d89a;}

#sectBox03{width: 100%; height: 348px ; box-sizing: border-box;background-color: #ffedca;}
  .proBox03{position: relative; background-color: rgba(0,37,252,0.2);}
  .proBox03>.pro_ti{width: 100%; height: 27px;background-color: #d8d89a;text-align: center;}
  .proBox03>.pro_btn{position: absolute;} 
  .pro_bg{background-color: #d8d89a}
  .pro_bg>ul>li{float: left; display: block; width: 33.33%;height: 175px; border-right:1px solid #fff; box-sizing: border-box;}


#sectBox04{width: 100%; height: 21.75rem ; box-sizing: border-box;background-color: #f7b9a4;}
  .quickBox04{background-color: rgba(0,37,252,0.2);}
  .quick_ti{background-color: #d8d89a;}

#sectBox05{width: 100%; height: 18.75rem ; box-sizing: border-box;background-color: #ffedca;}
  .banBox05{background-color: rgba(0,37,252,0.2);} 
#sectBox06{width: 100%; height: 25.5rem ; box-sizing: border-box;background-color: #f7b9a4;}
  .brandBox06{background-color: rgba(0,37,252,0.2);} 
#footBox{width: 100%;height: 150px;box-sizing: border-box;background-color: #333;}
 .addBox{width: 100%; background-color: #edb29d;}

/*  mobile 480 .css   */
@media screen and (max-width: 480px) {
#headBox{min-width: 300px;height:64px;}
#container>h1{width:248px ;height:40px /*8.33vw*/;}
.gnb{display: none;}
#sectBox01{padding:29px 13px ;  width: 100%; height: 350px; /*background-color: rgba(0,37,252,0.2); */ }
.seBox01{position: relative; width:100%;height: 292px; }
/* section01_indeicator */
.se01_indicator{position: absolute;z-index: 100;left:50%;margin-left:-115.5px;bottom: 17px;width:231px;height: 26px;background-color: #edb29d; }
.se01_indicator>ul{margin: auto; width: 100%;height: 100%;}
.se01_indicator>ul>li{float:left; margin-right:15px;width: 26px;height: 26px; }
.se01_indicator>ul>li:last-child{margin-right:0;}
.se01_indicator>ul>li>a{display:block; width: 100%;height: 100%; border-radius: 50%;background-color: #fff;}
.se01_indicator>ul>li>a:hover,
.se01_indicator>ul>li>a:focus{background-color: #333;}
.se01_indicator>ul>li.action>a{background-color: #333;}


.se01_btn{position: absolute;z-index: 100; width: 100%;height: 0; top:50% ; left:0; }
.se01_btn>.btn{margin-top:-18.5px; width:37px; height: 37px ;float: right;color:#fff; font-size: 32pt;}
.se01_btn>.btn:nth-of-type(2){float:left;}
.se01_btn>.btn:hover,
.se01_btn>.btn:focus{color:#333;}
/*  end indicator*/

#sectBox02{padding:33px 13px 0 ;box-sizing: border-box;  height: 36.25rem; }
  .hoBox02{width: 100%; height:503px;}
  .hoBox02>div{padding-top:34px; box-sizing: border-box; width: 100%; height:100%; text-align: center; border:1px solid #fff;}
  .hoBox02>div>.ho_ti{margin-bottom :34px; width: 100%;height: 27px;background-color: #d8d89a;}
  .hoBox02>div>.ho_bg{width: 100%;height: 406px;background-color: #d8d89a;}


#sectBox03{padding:33px 13px 0 ; height: 29rem; }
  .proBox03{ padding-top:26px;box-sizing: border-box;height:306px; height: 386px;}
  .proBox03>.pro_ti{margin-bottom :42px; }
  .proBox03>.pro_btn{ left:50%; margin-left:-96px; bottom:100px;  width: 196px;height:0;background-color: #d8d89a; }
  .pro_btn>.next_btn>a{float:left; display: block; width: 70px;height: 70px; background-color: #d8d89a;font-size: 36pt; }
  .pro_btn>.prew_btn>a{float:right; display: block; width: 70px;height: 70px; background-color: #d8d89a; font-size: 36pt;}
  
  .pro_bg{margin-bottom:20px ;width: 100%; height: 175px;}
  .pro_bg>ul>li:nth-child(1){ width: 100%; }
  .pro_bg>ul>li:nth-child(2){display: none}
  .pro_bg>ul>li:nth-child(3){display: none}



#sectBox04{padding:5.21vw /*25/480*100*/ 0vw /*13/480/100px*/ 0; height: 50.75rem; }
  .quickBox04{padding-top:6.04vw; /*29/480*100*/ box-sizing: border-box; height: 759px;}
  .quick_ti{margin: auto; width: 80%;height: 5.63vw;/*27/480*100*/ text-align: center}
  .quick_list{padding:11.46vw /*55/480*100*/ 4.79vw/*23/480*100*/ 0; }
  .quick_list>ul{width: 100%;height:125.42vw ;/*602/480*100*/  /*background-color: #d8d89a;*/ }
  .quick_list>ul>li{float:left; width: 35.42vw;/* 170/480*100 */height:35.42vw;border: 0.21vw/*1/480*100*/ solid #fff;border-radius:50%;margin-right: 4.38vw; /*21/480*100*/margin-bottom:4.28vw ;  box-sizing: border-box; background-color: #d8d89a; text-align: center;}
  .quick_list>ul>li:nth-child(2n){float:right;}

#sectBox05{padding:19px 13px 0 ;  height: 424px; }
  .banBox05{height: 392px;}
  .banBox05>div{padding-top:9px;}
  .pb_spe{width: 100%;height: 175px;background-color: #d8d89a;}
  .pb_thank{margin-top:15px; width: 100%;height: 175px;background-color: #d8d89a;}


#sectBox06{padding:14px 13px 0 ; height: 9.75rem; }
  .brandBox06{height: 122px;}
#footBox{height: 136px;}
 #footBox address{padding:12px 13px 0;}
  .addBox{height: 112px;}
  
/*  //end mobile 480 .css  */

}


/*  tablet 768 .css   */
@media screen and (min-width: 481px) and (max-width: 768px ) {
#headBox{padding : 13px 38px ;height:3.75rem;}  
#container>h1{width:248px ;height:40px /*8.33vw*/;}
.menu{float:left;}
.gnb{display: none;}

#sectBox01{padding:16px 38px;/*box-sizing: border-box;*/ height: 458px; }
  .seBox01{height: 408px;  }
#sectBox02{padding:33px 38px 0;/*box-sizing: border-box;*/ height: 33rem; }
  .hoBox02{height:465px;}
  .hoBox02>div{padding-top:19px; box-sizing: border-box; width: 100%; height:100%; text-align: center; border:1px solid #fff;}
  .hoBox02>div>.ho_ti{margin-bottom :47px; width: 100%;height: 27px;background-color: #d8d89a;}
  .hoBox02>div>.ho_bg{width: 100%;height: 370px;background-color: #d8d89a;}


#sectBox03{padding:33px 38px 0 ; height: 29rem; }
  .proBox03{padding-top:26px;box-sizing: border-box;height:386px;}
  .proBox03>.pro_ti{margin-bottom :31px;}
  .proBox03>.pro_btn{position: absolute;z-index:50; left:50%; margin-left:-96px; bottom:100px;  width: 196px;height:0;background-color: #d8d89a; }
  .pro_btn>.next_btn>a{float:left; display: block; width: 70px;height: 70px; background-color: #d8d89a;font-size: 36pt; }
  .pro_btn>.prew_btn>a{float:right; display: block; width: 70px;height: 70px; background-color: #d8d89a; font-size: 36pt;}
  
  .pro_bg{margin-bottom:20px ; height: 175px;}
  .pro_bg>ul>li{width: 50%;}
  .pro_bg>ul>li:nth-child(3){display: none}
  


#sectBox04{padding:38px 38px 0 ; height: 38.625rem; }
  .quickBox04{height: 538px;}
  .quick_ti{width: 80%;height: 27px;}
#sectBox05{padding:24px 38px 0 ; height: 424px; }
  .banBox05{height: 381px;}
#sectBox06{padding:14px 38px 0 ; height: 9.75rem; }
  .brandBox06{height:123px ;}
#footBox{height: 8.5rem;}
 #footBox address{padding:20px 38px 0;}
  .addBox{height:92px;}
}/*  // tablet 768 .css */

/* pc 1366  */
@media screen and (min-width: 769px) and (max-width: 1366px) {
  #headBox{padding: 47px 8px 0; }
  #container{width:100% /*1007px*/;height: 60px;}
  #container>h1{position: absolute;  left:50%;margin-left:-207px;  width: 414px;height: 60px;}
  .gnb{display: none;width: 60px;height: 60px;}

 #serBox{width: 60px;height: 60px;}

#sectBox01{padding:15px 8px 0; }
 .seBox01{height: 551px; }
#sectBox02{ padding:24px 8px 0;}
  .hoBox02{height:306px ;}

#sectBox03{ padding:24px 8px 0;}
  .proBox03{position:static; padding-top:24px;box-sizing: border-box;height:220px ;}
  .pro_ti{margin-bottom:39px ;}
  .proBox03>.pro_btn{display: none;}
  .pro_bg{ height: 175px;}
  .pro_bg{width: 100%;height: 175px;}
  .pro_bg>ul>li{float: left; display: block; width: 33.33%;height: 175px; border-right:1px solid #fff; box-sizing: border-box;}


#sectBox04{padding:27px 8px 0 ; }
  .quickBox04{height: 279px;}
#sectBox05{padding:39px 8px 0 ; }
  .banBox05{height: 220px;}
#sectBox06{padding:22px 8px 0 ;  }
  .brandBox06{height:366px ;}
#footBox{height: 8.5rem;}
 #footBox address{padding:32px 8px 0;}
  .addBox{height: 78px;}

}

 /* // pc 1366 .css  */

/* pc   1920  */
@media screen and (min-width: 1367px) {
#headBox{padding: 37px 20px;}
#container{margin: auto; width:1323px /*1007px*/;height: 100px;}  
#container>h1{ width: 380px;height: 58px;}
.menu{width: 100%;}
.menu>button{display: none; }
.gnb{float: left; display: block; padding: 69px 0 0 0; margin:auto; width:100%;height:30px;}
.gnb_mu{float: left; width: 957px; }
.gnb_mu>li{float:left; width: 16.66%;border-right:1px solid #fff; box-sizing: border-box;}
.gnb_lnb{float:right; width: 272px;}
.gnb_lnb>li{float:left;width:33.33% ;}

#serBox{display: none;}

#sectBox01{padding:15px 8px;box-sizing: border-box; }
 .seBox01{width:100%;height: 551px;  }
#sectBox02{ padding:24px 8px 0; }
  .hoBox02{height:306px ;}
#sectBox03{ padding:24px 8px 0; }
  .proBox03{position:static; padding-top:24px;box-sizing: border-box;height:220px ;}
  .pro_ti{margin-bottom:39px ;}
  .proBox03>.pro_btn{display: none;}
  .pro_bg{ height: 175px;}

#sectBox04{padding:27px 8px 0 ; }
  .quickBox04{height: 279px;}
#sectBox05{padding:39px 8px 0 ; }
  .banBox05{height: 220px;}
#sectBox06{padding:22px 8px 0 ;  }
  .brandBox06{height:366px ;}
#footBox{height: 8.5rem;}
 #footBox address{padding:32px 8px 0;}
  .addBox{height: 78px;}

}

/*  // pc 1920  */