#wrap{width: 960px;height: auto;min-height: 500px; background-color: :#cca;}
h1{width:100%; height: auto;text-decoration: center; border-bottom:1px solid #333;}
#leftButton{position:fixed; top:350px; left:10px; width:20px; height:20px; background-color:#f00;}