/*  rwd_03_contentBox.css */
/*  tablet  768*/
@media screen and (min-width: 481px) and (max-width: 768px) {
#wrap{background-color: #acf;}  
#addBanner{height: 58.59375vw; /*450/768*100*/ min-height: 25rem;max-height:480px;}
#infoBox{height: 27.34375vw;/*210/768*100*/min-height: 9.375rem;max-height: 30rem}
#contentBox{height: 70.3125vw;/*540/768*100*/min-height: 28.125rem;max-height: 33.75rem}


}

/*  // tablet*/