/* rwd_03_addBanner.css */


/*  480 mobile */
@media screen and (max-width: 480px) {
#wrap{background-color: #afa;}
#headBox{height: 12.5vw; /*60/480*100*/ min-height:2.5rem}
  h1{width: 26.25vw;/*126/480*100*/ min-width: 6.25rem; }
  #navBox{width: 18.75vw;min-width:3.75rem ;/*90/480*100*/ max-width: 5.625rem; height: 7.901667vw;/*38/480*100*/min-height: 1.5625rem; max-width:   2.375rem }

#addBanner{margin-top: 12.5vw;height: 150vw;/*720/480*100*/min-height: 30rem;}
#infoBox{height: 150vw;min-height: 30rem;}
#contentBox{height: 150vw;min-height: 30rem;}
#footBox{height: 12.5vw; /*60/480*100*/  min-height:2.5rem;}



}
  

/* // 480 mobile*/
