/* pc   1920  */
@media screen and (min-width: 1367px) {
#headBox{padding: 37px 20px;}
.container{margin: auto; width:1323px /*1007px*/;height: 100px;}  
.container>h1{ width: 380px;height: 58px;}
#navBox{width: 100%;}
#navBox>button{display: none; }
.gnb{float: left; display: block; padding: 69px 0 0 0; margin:auto; width:100%;height:30px;}
.gnb_mu{float: left; width: 957px; }
.gnb_mu>li{float:left; width: 16.66%;border-right:1px solid #fff; box-sizing: border-box;}
.gnb_lnb{float:right; width: 272px;}
.gnb_lnb>li{float:left;width:33.33% ;}
#serBox{display: none;}

 /*  se01_btn  */
 .se01_btn>.btn{margin-top:-60px;width:120px; height:120px ;float: right;color:#fff; font-size: 140pt;}

#sectBox02{ padding:24px 8px 0;}
  .hoBox02{height:306px;}
#sectBox03{ padding:24px 8px 0;}
  .proBox03{position:static; padding-top:24px;box-sizing: border-box;height:220px;}
  .pro_ti{margin-bottom:39px;}
  .proBox03>.pro_btn{display: none;}
  .pro_bg{ height: 175px;}

#sectBox04{padding:27px 8px 0; box-sizing: border-box;}
  .quickBox04{padding-top:1.41vw;/*27/1920*100px*/width:100%; min-width: 92.97vw; height:279px;/*279/1920*100px*/ }
  .quick_ti{margin: auto; width: 80%;height: 27px;}
	.quick_list{margin:auto; width: 100%;}
  .quick_list>ul{margin:2.24vw auto 0; width: 1165px; }
  .quick_list>ul>li{float:left; width:  170px;/* 170/1920*100 */height:170px;border:1px solid #fff;border-radius:50%; margin-right:51px; box-sizing: border-box; background-color: #d8d89a; text-align: center;}
  .quick_list>ul>li:nth-child(5n){margin-right:0;}
    .quick_list>ul>li:nth-child(6){display: none}

#sectBox05{padding:39px 8px 0 ; }
  .banBox05{height: 220px;}
  .banBox05>ul{padding-top:9px; box-sizing: border-box; width: 100%;height: 100%;}
  .banBox05>ul>li{float:left; width: 50%; height: 100%;border-right:1px solid #fff; box-sizing: border-box;}
  .pb_spe{float:left; height: 175px; background-color: #d8d89a;}
  .pb_thank{float: left;height: 175px; background-color: #d8d89a;}
#sectBox06{padding:22px 8px 0 ;  }
  .brandBox06{height:366px ;}
#footBox{height: 8.5rem;}
 #footBox address{padding:32px 8px 0;}
  .addBox{height: 78px;}

}

/*  // pc 1920  */