/* pc 1366  */
@media screen and (min-width: 769px) and (max-width: 1366px) {
#headBox{padding: 47px 8px 0;height: 150px;}
  .container{width: 100%; height: 60px;}
#navBox{height: 60px; }
  .container>h1{position: absolute; left:50%; margin-left:-207px; width: 414px; height:60px;}
  .gnb{display: none; width: 60px; height: 60px;}
#serBox{width: 60px; height: 60px;}

 /*  se01_btn  */
 .se01_btn>.btn{margin-top:-120px;width:120px; height:120px ;float: right;color:#fff; font-size: 70pt;}

#sectBox02{padding:24px 8px 0;}
  .hoBox02{height:306px;}

#sectBox03{ padding:24px 8px 0;}
  .proBox03{position:static; padding-top:24px;box-sizing: border-box;height:220px ;}
  .pro_ti{margin-bottom:39px;}
  .proBox03>.pro_btn{display: none;}
  
  .pro_bg{ height: 175px;}
  .pro_bg{width: 100%;height: 175px;}
  .pro_bg>ul>li{float: left; display: block; width: 33.33%;height: 175px; border-right:1px solid #fff; box-sizing: border-box;}


#sectBox04{padding:27px 8px 0; box-sizing: border-box; /*348/1366*100px*/}
  .quickBox04{padding-top:1.98vw;/*27/1366*100px*/width:100%; min-width: 92.97vw; height:279px;/*279/1366*100px*/ }
    .quick_ti{margin: auto; width: 80%;height: 27px;/*27/1366*100*/}
    .quick_list{margin:auto; width: 100%; background-color: #fff;}
    .quick_list>ul{margin:3.15vw/*43/1366*100px*/ auto 0; width:65.01vw;/*888/1366*100px*/  background-color: #d8d89a; }
    .quick_list>ul>li{float: left; display: block; width: 12.45vw;/* 170/1366*100 */  /*180/1366*100px*/ /*160/1366*100px*/ height:12.45vw; min-height:11.71vw; max-height:13.18vw; border:0.13vw/*1/1366*100*/ solid #fff; border-radius:50%; margin-right:4.83vw; /*150/1366*100*/ box-sizing: border-box; background-color: #d8d89a; text-align: center;}
    .quick_list>ul>li:nth-child(4n){margin-right:0;}
    .quick_list>ul>li:nth-child(5),
    .quick_list>ul>li:nth-child(6){display: none}
    
  
#sectBox05{padding:39px 8px 0 ; box-sizing: border-box;}
  .banBox05{height: 220px;}
  .banBox05>ul{padding-top:9px; box-sizing: border-box; width: 100%;height: 100%;}
  .banBox05>ul>li{float:left; width: 50%; height: 100%;border-right:1px solid #fff; box-sizing: border-box;}
  .pb_spe{float:left; height: 175px; background-color: #d8d89a;}
  .pb_thank{float: left;height: 175px; background-color: #d8d89a;}

#sectBox06{padding:22px 8px 0 ; }
  .brandBox06{height:366px ;}
#footBox{height: 8.5rem;}
 #footBox address{padding:32px 8px 0;}
  .addBox{height: 78px;}

}

 /* // pc 1366 .css  */