/* form_homework02.css */

#wrap{padding-top:44px;	width: 100%;height: 100%;background-color: #acf;}
#wrap>div{margin:auto; width: 700px;}
.mem_title{width: 100%;height: 82px;background-color: #fac;}
.mem_title>span:nth-child(1){display: block;float: left; margin-right: 10px; width: 55px;height: 53px; background-color: #fff;background-image: url(../../img/form/join_01.png);background-position: -9px -52px;}
.mem_title>span:nth-child(2){display: block;font-size: 30pt; line-height: 63px;font-weight: bold}
.mem_title>span:nth-child(3):before{content:"*" ; color: #032a87;font-size: 18pt;line-height:10px;  }
.mem_title>span:nth-child(3){display: block;float:right; font-size: 12pt; line-height: 12px;font-weight: bold}



.mem_form{width: 100%;height: 560px;background-color: #fff;}
.mem_form dt{ float:left;padding-left: 64px; box-sizing: border-box; width: 200px;height: 42px;background-color: #ffa2bd;background-image: url(../../img/form/join_01.png); font-weight: bold;line-height: 42px;}
.mem_form dt:nth-child(1){ background-position: 21px -2px;}
.mem_form dt:nth-child(1)>label{display: block; background-color: #fff;}


.mem_form dd{ float:right; width: 500px;height: 42px;background-color: #dfdfdf;}



.form_button{width: 100%;height: 82px; background-color: #caf;}

h1>span{display: block; width: 52px;height: 55px;background-image: url(../../img/form/join_01.png);background-repeat: no-repeat; background-position: -61 -103;}